@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution { 
  font-size: 11px; text-align: center; 
}
    
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

body {
  background-image: url('images/pattern-background-desktop.svg');
  background-color: hsl(225, 100%, 94%, 1);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: hsl(225, 100%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  width: 23rem;
  margin: 1rem;
}

.header-image {
  width: 23rem;
}

.header-image img {
  height: auto;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main-section {
  margin: 2rem;
}

h2 {
  margin-bottom: 1rem;
  color: hsl(223, 47%, 23%);
}

.order-summary p {
  margin-bottom: 1.5rem;
  color: hsl(224, 23%, 55%);
  font-size: 14px;
}

.order-plan {
  background-color: hsl(225, 100%, 94%, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 2rem;
  padding: 0.8rem;
  border-radius: 6px;
}

.plan-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.plan-title {
  font-weight: 700;
}

.plan-price {
  color: hsl(224, 23%, 55%);
}

.change-plan {
  font-size: 12px;
  font-weight: 700;
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  cursor: pointer;
}

.payment {
  display: flex;
  flex-direction: column;
}

button {
  padding: 0.7rem;
  border: none;
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  font-weight: 700;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.cancel-order {
  font-size: 13px;
  color: hsl(224, 23%, 55%);
  cursor: pointer;
}

.change-plan:active {
  color: hsl(245, 75%, 52%, 0.6);
  text-decoration: none;
}

button:active {
  background-color: hsl(245, 75%, 52%, 0.6);
}

.cancel-order:active {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}
